.myOrder {
    background: #f4f6f8;

    &>header {
        position: fixed;
        height: rem(88);
        width: 100%;
        z-index: 1;
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>div {
            &>img {
                display: block;
                width: rem(20);
                height: rem(36);
                margin-left: rem(20);
            }
        }

        &>h2 {
            font-size: rem(34);
            color: #030303;
        }

        &>.dian {
            display: flex;
            margin-right: rem(44);

            &>div {
                width: rem(8);
                height: rem(8);
                border-radius: 50%;
                background: #999;
                margin-right: 6px;
            }
        }

    }

    &>.allOrder {
        padding-top: rem(88);


        &>.orderTab {
            width: 100%;
            position: fixed;
            top: rem(88);
            
            height: rem(77);
            margin-bottom: rem(20);

            &>ul {
                height: rem(77);
                padding: 0 rem(30);
                background: #fff;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-radius: 0 0 rem(20) rem(20);

                &>li {
                    font-size: rem(26);
                    color: #333;

                }

                &>.active {
                    color: #f3262d;
                }
            }
        }

     



    }
}