.newsPage{
    &>.content{
        padding: 0 rem(30);
        border-top: rem(1) solid #eee;
        color: #333;
        display: flex;
        flex-direction: column;
        &>span:nth-child(1){
            font-size: rem(28);
            padding: rem(29) 0 rem(20);
            font-weight: 500;
            font-family:PingFangSC-Medium,PingFang SC;
        }
        &>span:nth-child(2){
            font-size: rem(26);
            padding-bottom: rem(30);
            line-height: rem(40);
            font-family:PingFangSC-Regular,PingFang SC;
        }
        &>span:nth-child(3){
            font-size: rem(24);
            text-align: right;
            color: #666;
        }
    }
}